<!DOCTYPE html>
<html>
<style>
li::before {
	content: "\1F43F";
	margin-left:-20px;
	margin-right:10px;
}
</style>
<title>Home Page: Squirrel List</title>

<h1> HOME PAGE </h1>
<a href = "/map/">VIEW MAP! </a><br>
<a href = "add/">ADD SQUIRREL SIGHTING! </a><br>
<a href ="stats/"> INTERESTING STATISTICS! </a><br>
</br>

<h2> List of Squirrels </h2>
{% for s in all_squirrels %}
<li> <a href = "{% url 'squirrel:update' s.unique_squirrel_id %}">{{s.unique_squirrel_id}}</a></li>
{% endfor %}
</html>
