<!DOCTYPE html>
<html>
<title>Edit Sighting</title>
<h2>Squirrel ID: {{instance.unique_squirrel_id}}</h2>

<p class="all_list-box">
<a href="{% url 'squirrel:all_list' %}" class="all_list-link">Back to Squirrel List</a>
</p>

{% if error %}<p><strong>{{ error }}</strong></p>{% endif %}

<form method="POST" class="form">
    {% csrf_token %}
    {% for field in form %}
    	<div class="fieldWrapper">
    		{{field.label_tag}} {{field}}
	</div>
    {% endfor %}
    <button type="submit" class="save btn btn-default">Update!</button>
{% if success %}<p><strong>{{ success }}</strong></p>{% endif %}

</form>

</html>
