<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  text-align: center;
}
</style>

</head>
<body>

<h2> Statistics for squirrel sightings </h2>
  
<br>
<table style="width:40%">
        <tr>
                <th>Running</th>
                <th>Frequency</th>
        </tr>
        {% for run, freq in run_dict.items %}
                <tr>
                        <td>{{ run }}</td>
                        <td>{{ freq }}</td>
                </tr>
        {% endfor %}
</table>
<br>
<table style="width:40%">
        <tr>
                <th>Shift</th>
                <th>Frequency</th>
        </tr>
        {% for shift, freq in shift_dict.items %}
                <tr>
                        <td>{{ shift }}</td>
                        <td>{{ freq }}</td>
                </tr>
        {% endfor %}
</table>
<br>
<table style="width:40%">
        <tr>
                <th>Eating</th>
                <th>Frequency</th>
        </tr>
        {% for eat, freq in eat_dict.items %}
                <tr>
                        <td>{{ eat }}</td>
                        <td>{{ freq }}</td>
                </tr>
        {% endfor %}
</table>
<br>
<table style="width:40%">
        <tr>
                <th>Climbing</th>
                <th>Frequency</th>
        </tr>
        {% for climb, freq in climb_dict.items %}
                <tr>
                        <td>{{ climb }}</td>
                        <td>{{ freq }}</td>
                </tr>
        {% endfor %}
</table>
<br>
<li> The average of latitudes of squirrel sightings: {{mean}} </li>
</body>
</html>
